strongblog{
    font-weight: bold;
}
italicblog{
    font-style: italic;
}
underlineblog{
    text-decoration: underline;
}
/*-- logo --*/
.navbar-brand img {
  width: 92px;
  height: 75px;
  margin-top: -10px;
}
/*-- //End --*/

/*-- footer --*/.
.footer-bg-col h3 {
  color: #fff;
  margin: 0px !important;
}
p.copy-right {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border: none;
}
.contact-mail {
  margin: 0;
}
p.contact-mail a {
  color: #76daff;
  text-decoration: none;
  margin-left: 20px;
}
p.contact-mail {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 13px;
  text-align: center;
  border: none;
}
.newsleft h3 span {
  font-size: 14px;
}
.mail-icon {
  float: left;
  width: 0;
}
.mail-icon i.fa.fa-envelope {
  font-size: 14px !important;
}
/*-- //End -- */

/*-- logo-footer --*/
.footer-d1 {
  padding-bottom: 1em;
}
.footer-d1 .footer-logo img {
    width: 120px;
    height: 73px;
    margin-top: -45px;
}
/*-- //End --*/

.navbar-fixed-top {
  border-bottom: 2px solid #118eaf;
}

/*-- title-underline --*/
.title-underline {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: 20px;
}
.title-underline > h3 {
  position: relative;
  display: inline-block;
}
.title-underline > h3:before,
.title-underline > h3:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20%;
  /* Here is the modification */
  border-top: 4px double #0b2d42;
}
.title-underline > h3:before {
  right: 100%;
  margin-right: 15px;
}
.title-underline > h3:after {
  left: 100%;
  margin-left: 15px;
}
/*-- //End --*/

.banner-bottom-img img {
  width: 100%;
  margin: 0;
}

/*-- home-page-management --*/
.management-proj {
  padding: 0px !important
  /*background: #1d1c1c !important;*/
}
.management-team_grid_info {
  margin: 0px !important;
}

/*-- //End --*/

/*-- home-page-management-folded-corner --*/
.note1 {
  position: relative;
  /*width: 30%;
  padding: 1em 1.5em;
  margin: 2em auto;*/
  color: #fff;
  background: #118eaf !important;
}
.note1:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #055267 #fff;
}
.note1:before {
  ...
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}
.note2 {
  position: relative;
  /*width: 30%;
  padding: 1em 1.5em;
  margin: 2em auto;*/
  color: #fff;
  background: #ff3c41 !important;
}
.note2:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #790508  #fff;
}
.note2:before {
  ...
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}
/*-- //End --*/

/*-- navbar-bg-change-on scroll --*/
/*.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
  border-bottom: 2px solid #118eaf;
}
.navbar-fixed-top.scrolled .nav-link {
  color: #000 !important;
}*/
/*-- //End --*/

/*-- owl-carousel --*/
div img{ object-fit: cover; max-width: 100%;}
#owl-demo .item{
    background: #fff;
    /*padding: 0px 0px;*/
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
  float: left;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div {
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* mouse grab icon */
.grabbing {
  cursor: url(grabbing.png) 8 8, move;
}
/* fix */
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
/* PRODUCTS SLIDER = */
.owl-item .item {
  margin: 0 10px;
}
.slider-items {
  position: relative;
}
.slider-items .item {
  text-align: center;
}
.owl-buttons {
  opacity: 1;
}
.product-flexslider {
  margin:5px -10px;
}
.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}
.owl-pagination {
  top: -26px;
  text-align: center;
  position: absolute;
  right: 15px;
  background: #fff;
  padding-left: 10px;
}
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div {
  cursor: pointer;
}
.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 8px;
  height: 15px;
  margin: 5px 2px;
  filter: Alpha(Opacity=50);
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  opacity: 1;
}
.owl-theme .owl-controls .owl-buttons div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  margin: 5px;
  padding: 1px 0;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #869791;
  filter: Alpha(Opacity=50);
  opacity: 1;
  display: none;
}
.slider-items .owl-buttons a {
  background: #fff;
  display: block;
  height: 38px;
  margin: 0px 0 0 -30px;
  position: absolute;
  top: 50%;
  width: 38px;
  z-index: 5;
  color: #888;
  border: 1px #eaeaea solid;
}
.slider-items .owl-buttons .owl-prev a:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  speak: none;
  -webkit-font-smoothing: antialiased;
  content: "\f104";
  text-transform: none;
  font-size: 26px;
  line-height: 35px;
  padding: 6px 6px 6px 6px;
}
.slider-items .owl-buttons .owl-next a {
  top: 50%;
  padding: 2px;
}
.slider-items .owl-buttons .owl-next a:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  speak: none;
  -webkit-font-smoothing: antialiased;
  content: "\f105";
  text-transform: none;
  font-size: 24px;
  padding: 6px 6px 6px 6px;
  line-height: 30px;
}
.slider-items .owl-buttons .owl-next {
  position: absolute;
  right: -32px;
  top: 30%;
}
.slider-items .owl-buttons .owl-prev {
  position: absolute;
  left: -13px;
  top: 30%;
}
.owl-carousel .col-lg-4, .owl-carousel .col-md-3, .owl-carousel .col-sm-4, .owl-carousel .col-xs-6-12{ width:100%}

.owl-carousel .product{padding:0px!important;}

.owl-carousel .product .product_info {top:32%!important;}

section.home-instagram.wow.fadeIn div.owl-pagination { right: 0; }
/*-- //End --*/

/*-- marquee --*/
.marquee {
  padding: 0 1em 0em 1em;
  background: #118eaf;
}
.marquee a {
  color: #fff;
}
#marquee {
  padding-top: 10px;
}
/*-- //End --*/

/*-- page-load-popup --*/
/*hr {
  opacity: 0.3;
  border-color: #000;
}*/

#css-only-modals {
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10000000;
  text-align: center;
  white-space: nowrap;
  height: 100%;
}

#css-only-modals:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.css-only-modal-check {
  pointer-events: auto;
}

.css-only-modal-check:checked ~ .css-only-modal {
  opacity: 1;
  pointer-events: auto;
}

.css-only-modal {
  width: 50%;/*width: 40%;*/
  background: #FFF;
  z-index: 1;
  display: inline-block;
  position: relative;
  pointer-events: auto;
  /*padding: 25px;*/
  text-align: right;
  border-radius: 4px;
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
  opacity: 0;
  pointer-events: none;
}

.css-only-modal h2 {
  text-align: center;
}

.css-only-modal p {
  text-align: left;
}

.css-only-modal-close {
  position: absolute;
  /*top: 25px;
  right: 25px;*/
  top: -30px;
  right: -1%;
}

.css-only-modal-check {
  display: none;
}

.css-only-modal-check:checked ~ #screen-shade {
  opacity: 0.5;
  pointer-events: auto;
}

#screen-shade {
  opacity: 0;
  background: #000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  transition: opacity 0.8s;
}
i.fa-2x {
  color: #fff;
}
@media(max-width:1024px) {
  #myVideo-pop {
    width: 640px;
    left: -100px;
  }
  .css-only-modal-close {
    right: -5%;
  }
}
@media(max-width:991px) {
  #myVideo-pop {
    width: 580px;
    left: -100px;
  }
  .css-only-modal-close {
    right: -24%;
  }
}
@media(max-width:414px) {
  #myVideo-pop {
    width: 405px;
    left: -100px;
  }
  .css-only-modal-close {
    right: -95px;
  }
}
@media(max-width:375px) {
  #myVideo-pop {
    width: 369px;
    left: -91px;
  }
  .css-only-modal-close {
    right: -91px;
  }
}
@media(max-width:360px) {
  #myVideo-pop {
    width: 357px;
    left: -88px;
  }
  .css-only-modal-close {
    right: -87px;
  }
}
@media(max-width:320px) {
  #myVideo-pop {
    width: 315px;
    left: -77px;
  }
  .css-only-modal-close {
    right: -77px;
  }
}
/*-- //End --*/

/*-- //banner-video-start --*/
#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
#myVideo-pop {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
/*-- //banner-video-end --*/

/*-------- About Page --------*/
/*-- scroll-bar --*/
/*.ScrollStyle
{
    max-height: 150px;
    overflow-y: scroll;
}*/
.scrollbar
{
  height: 285px;
  width: 100%;
  background: #ffffff;
  overflow-y: scroll;
}
.force-overflow
{
  min-height: 400px;
  padding: 10px;
}
/*#wrapper
{
  text-align: center;
  width: 500px;
  margin: auto;
}*/
#style-4::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}
#style-4::-webkit-scrollbar
{
  width: 1px;
  background-color: #F5F5F5;
}
#style-4::-webkit-scrollbar-thumb
{
  background-color: #ff3c41;
}
/*-- //End --*/

/*-- about-card --*/
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-img {
  padding: 0px;
}
.card-text {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: justify;
}
.card-text h4 {
  margin-bottom: 0px;
}
.card-text p {
  margin-top: 10px;
}
@media(max-width:991px) {
  .card-text h4 {
    margin-top: 10px;
  }
}
/*-- //End --*/

/*-- Vision-section --*/
.vision-icon-div {
  width: 5%;
}
.vision-content-div {
  width: 95%;
}
.about-content-div h4, .vision-content-div h4 {
  font-family: 'Work Sans', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}
.about-content-div p, .vision-content-div p {
  font-family: 'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}
.vision-content-div ul li {
  font-family: 'Hind', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  margin: 0 0 15px 0;
  color: #454545;
  letter-spacing: 1px;
  font-size: 15px;
}
/*-- //End --*/

/*-- w3.css-img-popup --*/
.w3-modal-content-img-pop {
  margin: auto;
  background-color: transparent;
  position: relative;
  padding: 0;
  outline: 0;
  /*-- Added --*/
  width: 600px;
  z-index: -1;
  /*-- //End --*/
}
.w3-modal-img-pop {
  background-color:rgba(0,0,0,0.9);
}
.w3-btn-img-pop, .w3-button-img-pop {
  border: none;
  display: inline-block;
  padding: 5px 10px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: red;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.w3-xlarge-img-pop {
  font-size: 20px!important;
}
.w3-display-topright-img-pop {
  position: absolute;
  right: 0;
  top: 100px;
}
@media (max-width: 414px) {
  .help-full-img-pop img {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 993px) {
  .w3-modal-content-img-pop {
    margin: auto;
    width: 100%;
  }
  .w3-display-topright-img-pop {
    top: 98px;
  }
}
@media (max-width: 768px) {
  .w3-modal-img-pop {
    padding-top: 98px !important;
  }
}
/*-- //End --*/

/*-- w3.css-content-popup --*/
.w3-blue-content-pop {
  color: #fff!important;
  background-color: #118eaf!important;
}
.w3-blue-cross-content-pop {
  color: #fff!important;
  background-color: #000!important;
}
.w3-xlarge-content-pop {
  font-size: 15px!important;
}
@media (max-width: 993px) {
  .w3-modal-content-pop {
    padding-top: 97px !important;
  }
  .w3-container-header-content-pop {
    padding: 0px !important;
  }
  .w3-container-body-content-pop {
    padding: 5px !important;
  }
  .w3-button-content-pop {
    padding: 5px 10px !important;
  }
  .w3-button-cross-btn {
    padding: 5px 10px !important;
  }
}
@media (max-width: 320px) {
  .w3-modal-content-pop {
    padding-top: 97px !important;
  }
  .w3-container-header-content-pop {
    padding: 0px !important;
  }
  .w3-container-body-content-pop {
    padding: 5px !important;
  }
  .w3-button-content-pop {
    padding: 5px 2px !important;
  }
  .w3-button-cross-btn {
    padding: 5px 10px !important;
  }
}

/*@media (min-width: 993px) {
  .w3-modal-content {
      width: 550px;
  }
}*/
/*-- //End --*/
/*-------- //About Page End --------*/

.custom_team_grid_info {
  margin-top: 0 !important; 
  padding: 0 1em 1em 1em !important; 
  width: 100% !important;
}
.div1, .div2, .div3 {
  text-align: left;
}
.div1 h3, .div2 h3, .div3 h3 {
  font-size: 1em !important;
}
.underline1 {
  /*background-color: red;*/
  background-image: linear-gradient(90deg, red, transparent);
  border: 0;
  height: 3px;
  width: 50%;
  margin-bottom: 1em;
}
.underline2 {
  /*background-color: red;*/
  background-image: linear-gradient(90deg, red, transparent);
  border: 0;
  height: 3px;
  width: 50%;
}
.underline3 {
  /*background-color: red;*/
  background-image: linear-gradient(90deg, red, transparent);
  border: 0;
  height: 3px;
  width: 50%;
}
.commissioned-underline {
  /*background-color: red;*/
  background-image: linear-gradient(90deg, red, transparent);
  border: 0;
  height: 50px;
  width: 100%;
}
.custom-icons {
  text-align: center;
}
.custom-icons ul li a i.fa {
  height: 25px !important;
  width: 25px !important;
  line-height: 24px !important;
  text-align: center;
}
.custom-list {
  margin: 2em 0;
}
.custom-list ul {
  margin: 20px;
}
.custom-list ul li {
  font-size: 15px;
  color: #454545;
  margin: 10px 0;
}
.custom-list ul li span {
  font-weight: bold;
}

/*---- Social Responsibility Page ----*/
.marquee-btn a {
  padding: 1em 1em;
  border: 2px solid #ff3c41;
}
.marquee-btn a:hover {
  padding: 1em 1em;
  border: 2px solid #ff3c41;
}
/*-- carousel-slider --*/
@media(max-width:1280px) {
  #about-img-carousel {
    min-height: 227px;
  }
}
/*-- //End --*/
/*---- //Social Responsibility Page ----*/

/*---- Under Implementation Page ----*/
/*.under-implementation {
  border: none;
  margin: 0;
}
.ui-list ul li {
  list-style: none;
  font-size: 14px;
}
.ui-list p ul li span {
  font-weight: bold;
}*/
.ui-border {
  border: 1px solid #ccc;
}
.ui-border a img {
  border: 1px solid #ccc;
}
.ui-gap li {
  margin-bottom: 1em !important;
}
.ui-para p {
  font-size: 12px !important;
  margin: 0;
}
/*---- //Under Implementation Page ----*/

/*-- hame-page-slider-and-team --*/
/*body {
  font-family: tahoma;
  height: 100vh;
  background-image: url(https://picsum.photos/g/3000/2000);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}*/

.our-team {
  padding: 50px 0 60px;
  /*margin-bottom: 30px;*/
      margin: 5px;
  background-color: #d6e3e6;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 40px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #118eaf;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #118eaf;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #118eaf;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}
/*slider*/
section {
  width: 100%;
  height: 100vh;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  overflow: hidden;
}
.slide-image {
  position: absolute;
  top: -200px;
  left: -200px;
  width: calc(100% + 400px);
  height: calc(100% + 400px);
  background-position: 50% 50%;
  background-size: cover;
}
.slide-title {
  font-size: 2.8rem;/*font-size: 4rem;*/
  line-height: 1;
  max-width: 100%;/*max-width: 50%;*/
  white-space: normal;
  word-break: break-word;
  color: #FFF;
  z-index: 100;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}
@media (min-width: 45em) {
  .slide-title {
    font-size: 7vw;
    max-width: none;
  }
}
.slide-title span {
  white-space: pre;
  display: inline-block;
  opacity: 0;
}

.slideshow {
  position: relative;
}
.slideshow-pagination {
  position: absolute;
  bottom: 5rem;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: .3s opacity;
  z-index: 10;
}
.slideshow-pagination-item {
  display: flex;
  align-items: center;
}
.slideshow-pagination-item .pagination-number {
  opacity: 0.5;
}
.slideshow-pagination-item:hover, .slideshow-pagination-item:focus {
  cursor: pointer;
}
.slideshow-pagination-item:last-of-type .pagination-separator {
  width: 0;
}
.slideshow-pagination-item.active .pagination-number {
  opacity: 1;
}
.slideshow-pagination-item.active .pagination-separator {
  width: 10vw;
}
.slideshow-navigation-button {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
  width: 5rem;
  z-index: 1000;
  transition: all .3s ease;
  color: #FFF;
}
.slideshow-navigation-button:hover, .slideshow-navigation-button:focus {
  cursor: pointer;
  /*background: rgba(0, 0, 0, 0.5);*/
}
.slideshow-navigation-button.prev {
  left: 0;
}
.slideshow-navigation-button.next {
  right: 0;
}

.pagination-number {
  font-size: 1.8rem;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  padding: 0 0.5rem;
}

.pagination-separator {
  display: none;
  position: relative;
  width: 40px;
  height: 2px;
  background: rgba(255, 255, 255, 0.25);
  transition: all .3s ease;
}
@media (min-width: 45em) {
  .pagination-separator {
    display: block;
  }
}
.pagination-separator-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  transform-origin: 0 0;
}

/*-- //End --*/
