 .myFooter {
	padding: 0 !important;
	margin-top: 10px;
	border: none !important;
}
.myFooter input[type='submit'],
.myFooter a {
	margin-top: 10px;
}
.footer p {
	position: absolute;
    top: 83%;
    left: 34%;
}